html, body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    height: 100%;
    background: #ECF0F3;
}

/* 顶部的蓝色条，turbolinks 有进图条，所以这里就不需要了 */
nav.navbar {
    /*border-top: 4px solid #276cda;*/
    margin-bottom: 1rem;
}

.navbar-item.brand-text {
    font-weight: 300;
}

.navbar-item, .navbar-link {
    font-size: 14px;
    font-weight: 700;
}

.menu-label {
    color: #8F99A3;
    letter-spacing: 1.3;
    font-weight: 700;
}

.menu-list a {
    color: #0F1D38;
    font-size: 14px;
    font-weight: 700;
}

.menu-list a:hover {
    background-color: transparent;
    color: #276cda;
}

.menu-list a.is-active {
    font-weight: 700;
}

/* ==== 自定义样式 ===== */

.card-image .line-home-a {
    /* 每个 card 中的用以显示模拟的曲线 */
    height: 60px;
}

.columns.is-variable .column {
    /* column 纵向间隔；默认设置了 横向 间隔后，纵向不会变 */
    padding-bottom: var(--columnGap);
}

.card {
    /* 并排的 card 一样高，默认不一样高 */
    height: 100%;
}

/* 在 body 的最外层 */
.section {
    /* 上下左右内部边距，默认有距离，但在手机上显得四周间隔大 */
    padding: 0rem;
    /* 和 footer 之间的距离，默认 section 底部会盖过 footer 顶部 */
    margin-bottom: 1.5rem;
}

.footer {
    /* 文字下方的空白，默认是 6rem */
    padding-bottom: 3rem;
}
