#@okpage()

#define main()
<form id="add" class="layui-form" style="margin-top: 20px">
    <div class="layui-form-item">
        <label class="layui-form-label">标题</label>
        <div class="layui-input-block">
            <input type="text" name="blog.title" placeholder="请输入标题" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">内容</label>
        <div class="layui-input-block">
            <input type="text" name="blog.content" placeholder="请输入内容" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">提交</button>
        </div>
    </div>
</form>
#end

#define js()
<script>
    layui.use('form', function () {
        var table = layui.table,
            form = layui.form;

        form.on('submit(formDemo)', function(data){
            $.ajax({
                url: "/submit",
                data: data.field,
                success: function (data) {
                    layer.msg("添加成功");
                    window.parent.location.reload();
                },
            })
            return false;
        })
    })
</script>
#end
