#define okpage()

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>集成供应链</title>

    <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon"/>

    <!--    使用到的第三方 css -->
    <link rel="stylesheet" href="/assets/js/vendor.css"/>

    <link rel="stylesheet" type="text/css" href="/assets/css/zz/admin.css">

    <!--    使用到的第三方 js 打包成一个文件 -->
    <script type="text/javascript" src="/assets/js/vendor.js"></script>

    <!--    layui 不能 catcat，只能单独引用 -->
    <script type="text/javascript" src="/assets/lib/layui/layui.js"></script>

    <!--    初始化，全局函数 -->
    <script type="text/javascript" src="/assets/js/xui.js"></script>

    #@jshead?()
</head>

<body>
<div class="turbolinks-progress-bar"></div>
<div id="landingPageID" hidden></div>

<div id="actionKeyID" hidden data-menu="#(actionKey)"></div>

<!-- START NAV -->
<nav class="navbar is-white">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item brand-text" href="../index.html">
                集成供应链
            </a>
            <div class="navbar-burger burger" data-target="navMenu" id="burgerDom">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div id="navMenu" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/pages/mat/projectPlant">
                    客户项目
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        复用性分析
                    </a>

                    <div class="navbar-dropdown is-boxed">
                        <a class="navbar-item" href="/pages/mat/bomMatReuse">
                            分BOM
                        </a>
                        <a class="navbar-item" href="/pages/mat/projectMatReuse">
                            分项目
                        </a>
                    </div>
                </div>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        采购分析
                    </a>

                    <div class="navbar-dropdown is-boxed">
                        <a class="navbar-item" href="/pages/inbound/summary">
                            采购概览
                        </a>
                        <a class="navbar-item" href="/pages/inbound/plantVendor">
                            工厂采购
                        </a>
                        <a class="navbar-item" href="/pages/inbound/matMultiSourceSummary">
                            多点采购
                        </a>
                        <a class="navbar-item" href="/pages/inbound/amtByVendor">
                            供应商分析
                        </a>
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link is-light">
                        <strong>#(loginAccount.nickname)</strong>
                    </a>
                    <div class="navbar-dropdown is-boxed">
                        <a class="navbar-item" href="/logout">
                            重新登录
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- END NAV -->
<div class="section">
    <div class="container">
        <div class="columns is-variable is-1 ">
            <div class="column is-2 ">
                <aside class="menu is-hidden-mobile">
                    <p class="menu-label">
                        基本信息
                    </p>
                    <ul class="menu-list">
                        <li class=""><a href="/pages/relation/vendorPlant">供应网络</a></li>
                        <li class=""><a href="/pages/relation/clientPlant">销售布局</a></li>
                        <li class=""><a href="/pages/relation/clientVendor">对应关系</a></li>

                        <li class=""><a href="/pages/mat/projectPlant">客户项目</a></li>

                        <li><a href="/pages/wordCloud">纪要分析</a></li>
                    </ul>
                    <p class="menu-label">
                        数据分析
                    </p>
                    <ul class="menu-list">
                        <li>
                            <a>复用性分析</a>
                            <ul>
                                <li><a href="/pages/mat/bomMatReuse">分 BOM</a></li>
                                <li><a href="/pages/mat/projectMatReuse">分项目</a></li>
                            </ul>
                        </li>
                        <li>
                            <a>采购分析</a>
                            <ul>
                                <li><a href="/pages/inbound/summary">采购概览</a></li>
                                <li><a href="/pages/inbound/plantVendor">工厂采购</a></li>
                                <li><a href="/pages/inbound/matMultiSourceSummary">多点采购</a></li>
                                <li><a href="/pages/inbound/amtByVendor">供应商分析</a></li>

                            </ul>
                        </li>
                    </ul>
                    #permission("admin")
                    <p class="menu-label">
                        审批流
                    </p>
                    <ul class="menu-list">
                        <li>
                            <a>单据</a>
                            <ul>
                                <li><a href="/pages/workflow/txDemo/newEntry">新建</a></li>
                                <li><a href="/pages/workflow/txDemo/list">列表</a></li>
                                <li><a href="/pages/plantEnv">工厂大屏</a></li>
                            </ul>
                        </li>
                        <li>
                            <a>审批流</a>
                            <ul>
                                <li><a href="/pages/workflow/engine/list">列表</a></li>
                            </ul>
                        </li>
                    </ul>
                    <p class="menu-label">
                        试验场
                    </p>
                    <ul class="menu-list">
                        <li>
                            <a>可用</a>
                            <ul>
                                <li><a href="/pages/sales/regions">区域销售</a></li>
                                <li><a href="/pages/plantEnv">工厂大屏</a></li>
                            </ul>
                        </li>
                    </ul>
                    #end
                </aside>
            </div>
            <div class="column is-block">
                #@main()
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="content has-text-centered">
        <strong>Insight</strong> by <a href="https://bulma.com">ISP@IBM 2019</a>. Get hands dirty.
    </div>
</footer>

#@js?()
</body>

</html>

#end


#define jsfiles()
<script type="text/javascript" src="/assets/lib/jquery-3.4.1.min.js" data-turbolinks-track="true"></script>
<script type="text/javascript" src="/assets/lib/lodash-4.17.4.min.js" data-turbolinks-track="true"></script>
<script type="text/javascript" src="/assets/lib/numeral.min.js" data-turbolinks-track="true"></script>

<script type="text/javascript" src="/assets/lib/layui/layui.js" data-turbolinks-track="true"></script>
<script type="text/javascript" src="/assets/js/init_layui.js" data-turbolinks-track="true"></script>

<script type="text/javascript" src="/assets/lib/echarts/echarts.min.js" data-turbolinks-track="true"></script>
<script type="text/javascript" src="/assets/lib/echarts/echarts.theme.js" data-turbolinks-track="true"></script>
<script type="text/javascript" src="/assets/lib/echarts/dataTool.min.js"></script>

<script type="text/javascript" src="/assets/lib/g2/g2.min.js" data-turbolinks-track="true"></script>
<script type="text/javascript" src="/assets/lib/g2/data-set.min.js" data-turbolinks-track="true"></script>

<script type="text/javascript" src="/assets/lib/turbolinks/turbolinks.js" data-turbolinks-track="true"></script>

#end

#define cssfiles()
<link rel="stylesheet" href="/assets/lib/fontawesome/font-awesome.min.css" data-turbolinks-track="true">

<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet"
      data-turbolinks-track="true">

<link rel="stylesheet" href="/assets/css/okadmin.css" media="all" data-turbolinks-track="true"/>

<!-- Bulma Version 0.8.x-->
<link rel="stylesheet" href="/assets/lib/bulma/css/bulma.min.css" data-turbolinks-track="true"/>

#end
