#define okFull()

<!DOCTYPE html>
<html lang="en" class="page-fill">
<head>
    <meta charset="UTF-8">
    <title>供应链平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon"/>

    <link rel="stylesheet" href="/assets/okadmin/oksub.css" media="all"/>

    #@css?()
</head>
<body class="page-fill">
#@main()


<script type="text/javascript" src="/assets/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/assets/lodash-4.17.4.min.js"></script>


<script type=" text/javascript" src="/assets/layui/layui.js"></script>
<script type="text/javascript" src="/assets/okadmin/okmount.js"></script>

<script type="text/javascript" src="/assets/echarts/echarts.min.js"></script>
<script type="text/javascript" src="/assets/echarts/echarts.theme.js"></script>
<script type="text/javascript" src="/assets/echarts/world/js/china.js"></script>

#@js?()
</body>
</html>

#end
