#define okFull()

<!DOCTYPE html>
<html lang="en" class="page-fill">
<head>
    <meta charset="UTF-8">
    <title>ok-admin v2.0 | 很赞的后台模版 - 注册</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="ok-admin v2.0,ok-admin网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
    <meta name="description" content="ok-admin v2.0，顾名思义，很赞的后台模版，它是一款基于Layui框架的轻量级扁平化且完全免费开源的网站后台管理系统模板，适合中小型CMS后台系统。">
    <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/assets/okadmin/oksub.css"/>
    #@css?()
</head>
<body class="page-fill">
#@main()
<!--js逻辑-->
<script type=" text/javascript" src="/assets/layui/layui.js"></script>
<script type="text/javascript" src="/assets/okadmin/okmount.js"></script>

#@js?()
</body>
</html>

#end
