#define okpage()

<!DOCTYPE html>
<html lang="en" class="page-fill">
<head>
    <meta charset="UTF-8">
    <title>供应链平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon"/>

    <link rel="stylesheet" href="/assets/css/oksub.css" media="all"/>

    #@css?()
</head>
<body class="page-fill">
#@main()

<script type="text/javascript" src="/assets/lib/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/assets/lib/lodash-4.17.4.min.js"></script>

<script type=" text/javascript" src="/assets/lib/layui/layui.js"></script>
<script type="text/javascript" src="/assets/js/laymount.js"></script>

#@js?()
</body>
</html>

#end

#define jquery()
<script type="text/javascript" src="/assets/lib/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/assets/lib/lodash-4.17.4.min.js"></script>
#end

#define seajs()
#@jquery()
<script type="text/javascript" src="/assets/lib/seajs/sea.js"></script>
<script type="text/javascript" src="/assets/js/init_sea.js"></script>
#end


#define layui()
#@jquery()
<script type=" text/javascript" src="/assets/lib/layui/layui.js"></script>
<script type="text/javascript" src="/assets/js/init_layui.js.js"></script>
#end

#define echart()
<script type="text/javascript" src="/assets/lib/echarts/echarts.min.js"></script>
<script type="text/javascript" src="/assets/lib/echarts/echarts.theme.js"></script>
<script type="text/javascript" src="/assets/lib/echarts/world/js/china.js"></script>
#end


#define g2()
<script type="text/javascript" src="/assets/lib/g2/g2.min.js"></script>
<script type="text/javascript" src="/assets/lib/g2/data-set.min.js"></script>
#end


#define react()
<script type="text/javascript" src="/assets/lib/react/react.development.js"></script>
<script type="text/javascript" src="/assets/lib/react/react-dom.development.js"></script>
#end
